<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{khachhang/dashboard-user.html}">

<head>
</head>

<body>
	<div layout:fragment="content" class="col-lg-10 my-4 mt-3 mb-3 card content"
		style="border: 1px solid rgba(214, 214, 214, 0.493);min-height: 600px; margin: auto;">
		<div class="row mt-5">
			<div class="col-12 text-center">
				<img th:src="@{'/getcustomer/'+${user.hinhanhKH}}" width="80px" style="border-radius: 50%;"
					class="img-fluid">
			</div>
			<div class="col-12 text-center">
				<h3>Xin chào, [[${user.hoTen}]] !</h3>
				<hr>
			</div>
			<div class="col-12 mt-4">
				<div class="row">
					<div class="col-5 offset-1">
						<label for="name" style="font-weight: 700;">Họ và tên:</label>
						<input type="text" id="name" th:field="${user.hoTen}" class="form-control info" readonly>
					</div>
					<div class="col-5">
						<label for="email" style="font-weight: 700;">Email:</label>
						<input type="text" id="email" th:field="${user.email}" class="form-control info" readonly>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-5 offset-1">
						<label for="phone" style="font-weight: 700;">Số điện thoại:</label>
						<input type="text" id="phone" th:field="${user.sdt}" class="form-control info" readonly>
					</div>
					<div class="col-5">
						<label for="register-date" style="font-weight: 700;">Địa chỉ:</label>
						<input type="text" id="register-date" th:field="${user.diaChi}" class="form-control info"
							readonly>
					</div>
				</div>
			</div>

			<div class="col-12 mt-5">
				<h5 style="text-decoration-line: underline;">Danh sách đơn hàng chờ xác nhận:</h5>
				<h5 class="text-center" th:if="${orders0.totalElements==0}" style="font-size: 18px;">
					Bạn chưa có đơn hàng nào chờ xác nhận!</h5>
				<table class="table table-bordered" th:unless="${orders0.totalElements==0}">
					<thead>
						<tr class="text-center">
							<th>STT</th>
							<th>Mã hoá đơn</th>
							<th>Tổng tiền</th>
							<th>Ngày mua</th>
							<th>Chi tiết</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center" th:each="item, count : ${orders0}">
							<th th:text="${count.index + 1}"></th>
							<th th:text="${item.maDH}"></th>
							<th th:text="${#numbers.formatDecimal(item.tongTien, 1, 'DEFAULT', 0, 'DEFAULT')}+' VNĐ'">
							</th>
							<th th:text="${#dates.format(item.ngayDatHang, 'dd-MM-yyyy')}"></th>
							<th><a th:href="@{'/khachhang/chitiet/'+${item.maDH}}">
								<span class="fa fa-info-circle">Chi tiết</span></a></th>
							<th><a style="cursor: pointer;" th:data-id="${item.maDH}"
									onclick="showConfigModalDialog(this.getAttribute('data-id'))">
									<span class="fa fa-remove text-danger">Huỷ đơn</span></a></th>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</body>

</html>