<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Quên mật khẩu</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Security-Policy">

<link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
<!-- Bootstrap CSS -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/../fix/bootstrap.min.css}">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3 mt-5" th:unless="${message}">
				<a th:href="@{/home}" class="fa fa-home"
					style="font-size: 50px; text-decoration: none; color: gray;"></a>
			</div>
			<div class="col-6 offset-3 mt-5 text-center" th:unless="${message}">
				<h3>ĐỔI MẬT KHẨU</h3>
			</div>
			<div class="alert alert-success col-6 offset-3 mt-5" role="alert"
				th:if="${message}" th:text="${message}"></div>
			<div class="col-6 offset-3 mt-5 text-center" th:if="${message}">
				<a th:href="@{/home}" class="fa fa-home"
					style="font-size: 50px; text-decoration: none; color: gray;"></a>
			</div>
			<div class="col-6 offset-3" th:unless="${message}"
				style="border: none; box-shadow: 0 0 2px gray; border-radius: 8px;">
				<form th:action="@{/changePassword}" class="p-3" method="post"
					th:object="${changePassword}">
					<input type="text" hidden="hidden" name="email" th:value="${email}" />
					<div class="form-group">
						<label for="newPassword" style="font-weight: 700;">Mật
							khẩu mới</label> <input type="password" name="newPasswd"
							id="newPassword" th:value="*{newPasswd}" class="form-control" />
						<small class="text-danger"
							th:if="${#fields.hasErrors('newPasswd')}">Không được để
							trống và trên 6 kí tự</small>
					</div>
					<div class="form-group">
						<label for="confirmPassword" style="font-weight: 700;">Xác
							nhận mật khẩu</label> <input type="password" name="confirmPasswd"
							th:value="*{confirmPasswd}" id="confirmPassword"
							class="form-control" /> <small class="text-danger"
							th:if="${#fields.hasErrors('confirmPasswd')}">Không
							được để trống và trên 6 kí tự</small> <small class="text-danger"
							th:if="${error}">Xác nhận mật khẩu không đúng</small>
					</div>
					<button class="btn btn-primary text-center">Đổi mật khẩu</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>-->
		<script src="/../fix/jquery-3.5.1.slim.min.js"></script>
		<script src="/../js/popper.min.js"></script>
		<script src="/../js/bootstrap.min.js"></script>
</body>

</html>